<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:aop="http://www.springframework.org/schema/aop"
             xmlns:util="http://www.springframework.org/schema/util"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <authentication-manager alias="authenticationManager"/>
    <http auto-config="false" lowercase-comparisons="false" access-denied-page="/redirect.jsp">
        <!--<intercept-url pattern="/images/*" filters="none"/>-->
        <!--<intercept-url pattern="/styles/*" filters="none"/>-->
        <!--<intercept-url pattern="/scripts/*" filters="none"/>-->
        <intercept-url pattern="/pages/2/backend/*" access="ROLE_ADMIN"/>
        <intercept-url pattern="/pages/2/frontend/*" access="ROLE_USER"/>

        <form-login login-page="/login.jsp" authentication-failure-url="/login.do?operation=login&amp;error=true" default-target-url="/login.do?operation=login&amp;registerOrLogin=login"  login-processing-url="/j_security_check"/>

    </http>



    <beans:bean id="doublePizaaDetailService" class="com.sefryek.doublepizza.security.DoublePizaaDetailService">
        <beans:property name="userService" ref="userService" />
    </beans:bean>



    <authentication-provider user-service-ref="doublePizaaDetailService" >
             <!--<password-encoder hash="md5"/>-->
    </authentication-provider>

</beans:beans>